@layer pui-base, pui-components, pui-utils;

@layer pui-components {
  :where(.group) {
    --pui-avatar-group-offset: 12%;
    display: flex;
    align-items: center;

    & *[data-pui-component='avatar'] {
      position: relative;
      transition: transform 0.3s ease;
    }
  }

  :where(.ltr) {
    direction: ltr;
    justify-content: flex-start;

    & *[data-pui-component='avatar'] {
      &:not(:first-of-type) {
        margin-left: calc(var(--pui-avatar-group-offset) * -1);
      }

      &:hover:not(:last-of-type) {
        transform: translateX(calc(var(--pui-avatar-group-offset) * -1));
      }
    }
  }

  :where(.rtl) {
    direction: rtl;
    justify-content: flex-start;

    & *[data-pui-component='avatar'] {
      &:not(:last-of-type) {
        margin-left: calc(var(--pui-avatar-group-offset) * -1);
      }

      &:hover:not(:last-of-type) {
        transform: translateX(var(--pui-avatar-group-offset));
      }
    }
  }
}
