@use 'sass:map';

@use '../../../styles/particles-ui/variables' as var;

:where(.reset) {
  min-height: min-content;
  padding: 0;
}

:where(.li-interactive) {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  cursor: pointer;
  height: 100%;
  min-height: var(--pui-list-item-min-height);
  width: 100%;
  padding-block: var(--pui-list-item-pd-block);
  padding-inline: var(--pui-list-item-pl) var(--pui-list-item-pr);

  &:hover:not(.disabled):not(:where(.static)) {
    background-color: var(--pui-primary-container-low);
  }

  &:active:not(.disabled):not(:where(.static)) {
    background-color: var(--pui-primary-container);
  }

  &:where(.selected):not(.disabled) {
    background-color: var(--pui-primary-container-low);
  }

  &.disabled {
    background-color: rgb(
      var(--pui-on-background-channels) / var(--pui-state-disabled)
    );
    cursor: not-allowed;

    * {
      color: rgb(
        var(--pui-on-background-channels) / var(--pui-state-disabled-content)
      );
    }
  }
}
