@use './particles-ui/mixins' as mx;
@use './theme' as var;
@import './material-symbols.scss';

@media (prefers-color-scheme: light) {
  :root {
    @include mx.create-css-vars(var.$colors, light);
    @include mx.create-css-vars(var.$elevations, light, $prefix: 'elevation');
  }

  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include mx.create-css-vars(var.$colors, dark);
    @include mx.create-css-vars(var.$elevations, dark, $prefix: 'elevation');
  }

  html {
    color-scheme: dark;
  }
}

html[data-pui-mode='light'] {
  color-scheme: light;
  @include mx.create-css-vars(var.$colors, light);
  @include mx.create-css-vars(var.$elevations, light, $prefix: 'elevation');
}

html[data-pui-mode='dark'] {
  color-scheme: dark;
  @include mx.create-css-vars(var.$colors, dark);
  @include mx.create-css-vars(var.$elevations, dark, $prefix: 'elevation');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  margin: 0;
  vertical-align: baseline;
}

body {
  @include mx.create-css-vars(var.$gap, $prefix: 'gap');
  @include mx.create-css-vars(var.$radiuses, $prefix: 'radius');
  @include mx.create-css-vars(var.$states, $prefix: 'state');

  background-color: var(--pui-background);
  line-height: 1;
  max-width: 100dvw;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
