@layer pui-components {
  :where(.text) {
    --pui-text-color: inherit;

    --pui-text-font-size: inherit;
    --pui-text-font-weight: inherit;
    --pui-text-letter-spacing: inherit;
    --pui-text-line-height: inherit;
    --pui-text-text-align: inherit;

    color: var(--pui-text-color);
    font-size: var(--pui-text-font-size);
    font-weight: var(--pui-text-font-weight);
    letter-spacing: var(--pui-text-letter-spacing);
    line-height: var(--pui-text-line-height);
    text-align: var(--pui-text-text-align);

    & > span:where([data-pui-component='material-icon']),
    & > svg {
      vertical-align: -12.5%;
    }

    & > svg {
      display: inline-block;
      height: 1em;
      min-width: 1em;
      width: auto;
    }
  }

  :where(.truncate) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :where(code.text) {
    font-family: monospace;
    background-color: var(--pui-background-container-high);
    border: 1px solid var(--pui-outline-variant);
    border-radius: var(--pui-radius-xs);
    padding: 0.5em 1em;
  }

  :where(mark.text) {
    background-color: var(--pui-primary-container);
  }
}
