:where(.list-item-icon) {
  font-size: var(--pui-list-icon-size);
  height: var(--pui-list-icon-size);
  width: var(--pui-list-icon-size);
  min-width: var(--pui-list-icon-size);

  svg {
    height: 1em;
    min-width: 1em;
    width: auto;
  }
}
