@layer pui-base, pui-components, pui-utils;

@layer pui-components {
  .no-padding {
    --pui-card-padding: 0rem;
  }

  $pd: var(--pui-card-padding);

  :where(.card-body) {
    display: flex;
    padding: $pd;
  }
}
