$regular-weight: 400;
$medium-weight: 500;

$typography: (
  'body': (
    'sm': (
      'font-size': 0.875rem,
      'line-height': 1.25rem,
      'letter-spacing': 0.015625rem,
      'font-weight': $regular-weight
    ),
    'md': (
      'font-size': 1rem,
      'line-height': 1.5rem,
      'letter-spacing': 0.03125rem,
      'font-weight': $regular-weight
    ),
    'lg': (
      'font-size': 1.25rem,
      'line-height': 1.625rem,
      'letter-spacing': 0.025rem,
      'font-weight': $regular-weight
    ),
    'xl': (
      'font-size': 1.375rem,
      'line-height': 1.75rem,
      'letter-spacing': 0.025rem,
      'font-weight': $regular-weight
    )
  ),
  'label': (
    'xs': (
      'font-size': 0.625rem,
      'line-height': 0.75rem,
      'letter-spacing': 0.03125rem,
      'font-weight': $medium-weight
    ),
    'sm': (
      'font-size': 0.75rem,
      'line-height': 1rem,
      'letter-spacing': 0.03125rem,
      'font-weight': $medium-weight
    ),
    'md': (
      'font-size': 0.875rem,
      'line-height': 1.25rem,
      'letter-spacing': 0.01875rem,
      'font-weight': $medium-weight
    ),
    'lg': (
      'font-size': 1rem,
      'line-height': 1.375rem,
      'letter-spacing': 0.01875rem,
      'font-weight': $medium-weight
    ),
    'xl': (
      'font-size': 1.25rem,
      'line-height': 1.625rem,
      'letter-spacing': 0.01875rem,
      'font-weight': $medium-weight
    )
  ),
  'subtitle': (
    'sm': (
      'font-size': 0.875rem,
      'line-height': 1.25rem,
      'letter-spacing': 0.00625rem,
      'font-weight': $medium-weight
    ),
    'md': (
      'font-size': 1rem,
      'line-height': 1.5rem,
      'letter-spacing': 0.009375rem,
      'font-weight': $medium-weight
    ),
    'lg': (
      'font-size': 1.375rem,
      'line-height': 1.75rem,
      'letter-spacing': 0,
      'font-weight': $medium-weight
    ),
    'xl': (
      'font-size': 1.5rem,
      'line-height': 2.25rem,
      'letter-spacing': 0,
      'font-weight': $medium-weight
    )
  ),
  'heading': (
    'h1': (
      'font-size': 3.625rem,
      'line-height': 4rem,
      'letter-spacing': -0.015625rem,
      'font-weight': $regular-weight
    ),
    'h2': (
      'font-size': 2.75rem,
      'line-height': 3.25rem,
      'letter-spacing': 0,
      'font-weight': $regular-weight
    ),
    'h3': (
      'font-size': 2.25rem,
      'line-height': 2.75rem,
      'letter-spacing': 0,
      'font-weight': $regular-weight
    ),
    'h4': (
      'font-size': 2rem,
      'line-height': 2.5rem,
      'letter-spacing': 0,
      'font-weight': $regular-weight
    ),
    'h5': (
      'font-size': 1.75rem,
      'line-height': 2.25rem,
      'letter-spacing': 0,
      'font-weight': $regular-weight
    ),
    'h6': (
      'font-size': 1.5rem,
      'line-height': 2rem,
      'letter-spacing': 0,
      'font-weight': $regular-weight
    )
  )
) !default;
