@layer pui-utils {
  .overlay {
    z-index: 0;
    position: relative;

    *[data-pui-component='overlay-link'] {
      position: initial;

      &::before {
        content: '';
        cursor: inherit;
        display: block;
        position: absolute;
        inset: 0; // top, left, right and bottom are equal to 0
      }
    }

    // Lets other links be clickable through the overlay
    *[data-pui-component='link'] {
      position: relative;
      z-index: 1;
    }
  }
}
