@layer pui-components {
  :where(.list) {
    --pui-list-pd-block: 0.5rem;
    --pui-list-pd-inline: 0rem;

    --pui-list-icon-size: 1.5rem;
    --pui-list-item-min-height: 3rem;
    --pui-list-item-pd-block: 0.5rem;
    --pui-list-item-pl: 1rem;
    --pui-list-item-pr: 1.5rem;

    padding: var(--pui-list-pd-block) var(--pui-list-pd-inline);
    list-style: none;
  }

  :where(.dense) {
    --pui-list-icon-size: 1.25rem;
    --pui-list-item-min-height: 2rem;
    --pui-list-item-pd-block: 0.25rem;
    --pui-list-item-pl: 0.75rem;
    --pui-list-item-pr: 0.75rem;

    & *[data-pui-component='li-text-primary'] {
      font-size: var(--pui-text-size-md, 1rem);
      line-height: var(--pui-text-height-md, 1.5rem);
      letter-spacing: var(--pui-letter-spacing-lg, 0.03125rem);
    }

    & *[data-pui-component='li-text-secondary'] {
      font-size: var(--pui-text-size-sm, 1rem);
      line-height: var(--pui-text-height-sm, 1.5rem);
      letter-spacing: var(--pui-letter-spacing-sm, 0.01875rem);
    }
  }
}
