@use '../../styles/particles-ui/constants' as const;

:where(.alert) {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--pui-gap-lg, 0.75rem);
  border: 1px solid transparent;
  padding-block: 0.625rem;
  padding-inline: 0.75rem 1.25rem;
  height: fit-content;
  min-height: 2rem;
  width: fit-content;
}

:where(.alert-text) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--pui-gap-xs, 0.125rem);
}

:where(.alert-icon) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.375rem;

  :where(svg) {
    height: 1em;
    min-width: 1em;
    width: auto;
  }

  &:where(.with-heading) {
    align-self: flex-start;
  }
}

:where(.action) {
  padding-right: 0.625rem;
}

@each $color in const.$color-names {
  :where(.#{$color}) {
    --pui-alert-color: var(--pui-#{$color});
    --pui-alert-on-color: var(--pui-on-#{$color});
    --pui-alert-color-darker: var(--pui-#{$color}-darker);
    --pui-alert-color-darker-channels: var(--pui-#{$color}-darker-channels);
    --pui-alert-color-container: var(--pui-#{$color}-container);
    --pui-alert-on-color-container: var(--pui-on-#{$color}-container);
  }
}

:where(.filled) {
  background-color: var(--pui-alert-color);

  &,
  span:where([data-pui-component='btn-icon']) {
    color: var(--pui-alert-on-color);
  }

  & > button[data-pui-component='close-btn'] {
    &:hover {
      background-color: rgb(
        var(--pui-alert-color-darker-channels) /
          calc(100% - var(--pui-state-press, 12%))
      );
    }

    &:active {
      background-color: var(--pui-alert-color-darker);
    }
  }
}

:where(.outlined) {
  background: none;
  border: 1px solid var(--pui-alert-color);

  &,
  span:where([data-pui-component='btn-icon']) {
    color: var(--pui-alert-color-darker);
  }
}

:where(.soft) {
  background-color: var(--pui-alert-color-container);

  &,
  span:where([data-pui-component='btn-icon']) {
    color: var(--pui-alert-on-color-container);
  }
}

:where(.minimal) {
  background-color: var(--pui-background-container-low);
  color: var(--pui-on-background-variant);

  border-left: 4px solid var(--pui-alert-color);

  svg,
  span:where([data-pui-component='btn-icon']) {
    color: var(--pui-alert-color-darker);
  }
}
