@use './util-classes' as utils;

@layer pui-base, pui-components, pui-utils;

@layer pui-base {
  @media (prefers-color-scheme: light) {
    html {
      color-scheme: light;
    }
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }

  html[data-pui-mode='light'] {
    color-scheme: light;
  }

  html[data-pui-mode='dark'] {
    color-scheme: dark;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    vertical-align: baseline;
  }

  body {
    background-color: var(--pui-background);
    font: inherit;
    font-size: 100%;
    font-family: 'Segoe UI', Segoe, Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    max-width: 100dvw;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* Keyboard focus outline styling */
  :where(.pui-outline-default) {
    outline: 2px solid transparent;
  }

  :where(.pui-outline-focus) {
    outline-color: var(--pui-outline-focus);
    outline-offset: 2px;
    z-index: 10;
  }
}

@layer pui-utils {
  @include utils.radius;
  @include utils.align-items;
  @include utils.justify-content;
  @include utils.flex-direction;
  @include utils.gap;

  .pui-link-overlay {
    z-index: 0;
    position: relative;

    *[data-pui-component='overlay-link'] {
      position: initial;

      &::before {
        content: '';
        cursor: inherit;
        display: block;
        position: absolute;
        inset: 0; // top, left, right and bottom are equal to 0
      }
    }

    // Lets other links be clickable through the overlay
    *[data-pui-component='link'] {
      position: relative;
      z-index: 1;
    }
  }
}
