@use 'sass:map';

@use '../../styles/theme-tokens/variables' as var;

@layer pui-components {
  :where(.heading) {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    text-align: inherit;
    margin: 0;
    padding: 0;

    & > span:where([data-pui-component='material-icon']),
    & > svg {
      vertical-align: -12.5%;
    }

    & > svg {
      display: inline-block;
      height: 1em;
      min-width: 1em;
      width: auto;
    }
  }

  :where(.truncate) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @each $heading in ('h1', 'h2', 'h3', 'h4', 'h5', 'h6') {
    $heading-typography: map.get(var.$typography, 'heading', $heading);

    :where(.#{$heading}) {
      @each $property, $value in $heading-typography {
        #{$property}: $value;
      }
    }
  }

  // subtitle styles
  @each $size in ('sm', 'md', 'lg') {
    $subtitle-typography: map.get(var.$typography, 'subtitle', $size);

    :where(.subtitle-#{$size}) {
      @each $property, $value in $subtitle-typography {
        #{$property}: $value;
      }
    }
  }

  // base colors
  :where(.on-background) {
    color: var(--pui-on-background);
  }

  :where(.on-background-variant) {
    color: var(--pui-on-background-variant);
  }

  :where(.on-background-low) {
    color: var(--pui-on-background-low);
  }
}
