@layer pui-components {
  :where(.heading) {
    --pui-heading-color: inherit;

    --pui-heading-font-size: inherit;
    --pui-heading-font-weight: inherit;
    --pui-heading-letter-spacing: inherit;
    --pui-heading-line-height: inherit;
    --pui-heading-text-align: inherit;

    color: var(--pui-heading-color);
    font-size: var(--pui-heading-font-size);
    font-weight: var(--pui-heading-font-weight);
    letter-spacing: var(--pui-heading-letter-spacing);
    line-height: var(--pui-heading-line-height);
    text-align: var(--pui-heading-text-align);
    margin: 0;
    padding: 0;

    & > span:where([data-pui-component='material-icon']),
    & > svg {
      vertical-align: -12.5%;
    }

    & > svg {
      display: inline-block;
      height: 1em;
      min-width: 1em;
      width: auto;
    }
  }

  :where(.truncate) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
