.interface-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-block: 1rem;
}

.interface-buttons > a {
  border-radius: var(--pui-radius-full);
}
