@use 'sass:map';

@use 'functions' as func;

$primary: #5e68ba !default;
$primary-dark: func.desaturate($primary) !default;
$secondary: #69aba5 !default;
$secondary-dark: func.desaturate($secondary) !default;
$tertiary: #eca855 !default;
$tertiary-dark: func.desaturate($tertiary) !default;

$neutral: func.generate-neutral($primary) !default;
$neutral-dark: func.desaturate($neutral) !default;
$error: #e0525b !default;
$error-dark: func.desaturate($error) !default;
$success: #4db37e !default;
$success-dark: func.desaturate($success) !default;
$warning: #fdad35 !default;
$warning-dark: func.desaturate($warning) !default;
$info: #4994e9 !default;
$info-dark: func.desaturate($info) !default;

$primary-palette: func.generate-palette($primary, 'primary');
$primary-palette-dark: func.generate-palette($primary-dark, 'primary');
$secondary-palette: func.generate-palette($secondary, 'secondary');
$secondary-palette-dark: func.generate-palette($secondary-dark, 'secondary');
$tertiary-palette: func.generate-palette($tertiary, 'tertiary');
$tertiary-palette-dark: func.generate-palette($tertiary-dark, 'tertiary');

$neutral-palette: func.generate-palette($neutral, 'neutral');
$neutral-palette-dark: func.generate-palette($neutral-dark, 'neutral');
$error-palette: func.generate-palette($error, 'error');
$error-palette-dark: func.generate-palette($error-dark, 'error');
$success-palette: func.generate-palette($success, 'success');
$success-palette-dark: func.generate-palette($success-dark, 'success');
$warning-palette: func.generate-palette($warning, 'warning');
$warning-palette-dark: func.generate-palette($warning-dark, 'warning');
$info-palette: func.generate-palette($info, 'info');
$info-palette-dark: func.generate-palette($info-dark, 'info');

$-color-scheme: (
  'light': (
    'black': #000000,
    'white': #ffffff,
    'primary-base': $primary,
    'primary': map.get($primary-palette, 'primary-50'),
    'primary-darker': map.get($primary-palette, 'primary-40'),
    'primary-container': map.get($primary-palette, 'primary-90'),
    'primary-container-low': map.get($primary-palette, 'primary-95'),
    'on-primary':
      func.on-color(
        map.get($primary-palette, 'primary-50'),
        $primary-palette,
        'primary-99',
        'primary-20'
      ),
    'on-primary-container': map.get($primary-palette, 'primary-25'),
    'secondary-base': $secondary,
    'secondary': map.get($secondary-palette, 'secondary-50'),
    'secondary-darker': map.get($secondary-palette, 'secondary-40'),
    'secondary-container': map.get($secondary-palette, 'secondary-90'),
    'secondary-container-low': map.get($secondary-palette, 'secondary-95'),
    'on-secondary':
      func.on-color(
        map.get($secondary-palette, 'secondary-50'),
        $secondary-palette,
        'secondary-99',
        'secondary-20'
      ),
    'on-secondary-container': map.get($secondary-palette, 'secondary-25'),
    'tertiary-base': $tertiary,
    'tertiary': map.get($tertiary-palette, 'tertiary-50'),
    'tertiary-darker': map.get($tertiary-palette, 'tertiary-40'),
    'tertiary-container': map.get($tertiary-palette, 'tertiary-90'),
    'tertiary-container-low': map.get($tertiary-palette, 'tertiary-95'),
    'on-tertiary':
      func.on-color(
        map.get($tertiary-palette, 'tertiary-50'),
        $tertiary-palette,
        'tertiary-99',
        'tertiary-20'
      ),
    'on-tertiary-container': map.get($tertiary-palette, 'tertiary-25'),
    'background': map.get($primary-palette, 'primary-99'),
    'background-container-lowest': map.get($neutral-palette, 'neutral-100'),
    'background-container-low': map.get($neutral-palette, 'neutral-97'),
    'background-container': map.get($neutral-palette, 'neutral-95'),
    'background-container-high': map.get($neutral-palette, 'neutral-92'),
    'background-container-highest': map.get($neutral-palette, 'neutral-90'),
    'background-variant': map.get($neutral-palette, 'neutral-90'),
    'on-background': map.get($neutral-palette, 'neutral-10'),
    'on-background-variant': map.get($neutral-palette, 'neutral-30'),
    'on-background-low': map.get($neutral-palette, 'neutral-40'),
    'outline': map.get($neutral-palette, 'neutral-50'),
    'outline-variant': map.get($neutral-palette, 'neutral-80'),
    'outline-focus': map.get($tertiary-palette, 'tertiary-50'),
    'error-base': $error,
    'error': map.get($error-palette, 'error-50'),
    'error-darker': map.get($error-palette, 'error-40'),
    'error-container': map.get($error-palette, 'error-90'),
    'error-container-low': map.get($error-palette, 'error-95'),
    'on-error': map.get($error-palette, 'error-99'),
    'on-error-container': map.get($error-palette, 'error-15'),
    'success-base': $success,
    'success': map.get($success-palette, 'success-50'),
    'success-darker': map.get($success-palette, 'success-40'),
    'success-container': map.get($success-palette, 'success-90'),
    'success-container-low': map.get($success-palette, 'success-95'),
    'on-success': map.get($success-palette, 'success-99'),
    'on-success-container': map.get($success-palette, 'success-15'),
    'warning-base': $warning,
    'warning': map.get($warning-palette, 'warning-50'),
    'warning-darker': map.get($warning-palette, 'warning-40'),
    'warning-container': map.get($warning-palette, 'warning-90'),
    'warning-container-low': map.get($warning-palette, 'warning-95'),
    'on-warning': map.get($warning-palette, 'warning-99'),
    'on-warning-container': map.get($warning-palette, 'warning-15'),
    'info-base': $info,
    'info': map.get($info-palette, 'info-50'),
    'info-darker': map.get($info-palette, 'info-40'),
    'info-container': map.get($info-palette, 'info-90'),
    'info-container-low': map.get($info-palette, 'info-95'),
    'on-info': map.get($info-palette, 'info-99'),
    'on-info-container': map.get($info-palette, 'info-15')
  ),
  'dark': (
    'black': #000000,
    'white': #ffffff,
    'primary-base': $primary-dark,
    'primary': map.get($primary-palette-dark, 'primary-70'),
    'primary-darker': map.get($primary-palette-dark, 'primary-60'),
    'primary-container': map.get($primary-palette-dark, 'primary-35'),
    'primary-container-low': map.get($primary-palette-dark, 'primary-25'),
    'on-primary': map.get($primary-palette-dark, 'primary-15'),
    'on-primary-container': map.get($primary-palette-dark, 'primary-90'),
    'secondary-base': $secondary-dark,
    'secondary': map.get($secondary-palette-dark, 'secondary-70'),
    'secondary-darker': map.get($secondary-palette-dark, 'secondary-60'),
    'secondary-container': map.get($secondary-palette-dark, 'secondary-35'),
    'secondary-container-low': map.get($secondary-palette-dark, 'secondary-25'),
    'on-secondary': map.get($secondary-palette-dark, 'secondary-15'),
    'on-secondary-container': map.get($secondary-palette-dark, 'secondary-90'),
    'tertiary-base': $tertiary-dark,
    'tertiary': map.get($tertiary-palette-dark, 'tertiary-70'),
    'tertiary-darker': map.get($tertiary-palette-dark, 'tertiary-60'),
    'tertiary-container': map.get($tertiary-palette-dark, 'tertiary-35'),
    'tertiary-container-low': map.get($tertiary-palette-dark, 'tertiary-25'),
    'on-tertiary': map.get($tertiary-palette-dark, 'tertiary-15'),
    'on-tertiary-container': map.get($tertiary-palette-dark, 'tertiary-90'),
    'background': map.get($primary-palette-dark, 'primary-5'),
    'background-container-lowest': map.get($neutral-palette-dark, 'neutral-5'),
    'background-container-low': map.get($neutral-palette-dark, 'neutral-10'),
    'background-container': map.get($neutral-palette-dark, 'neutral-12'),
    'background-container-high': map.get($neutral-palette-dark, 'neutral-15'),
    'background-container-highest': map.get($neutral-palette-dark, 'neutral-20'),
    'background-variant': map.get($neutral-palette-dark, 'neutral-30'),
    'on-background': map.get($neutral-palette-dark, 'neutral-90'),
    'on-background-variant': map.get($neutral-palette-dark, 'neutral-80'),
    'on-background-low': map.get($neutral-palette, 'neutral-70'),
    'outline': map.get($neutral-palette-dark, 'neutral-60'),
    'outline-variant': map.get($neutral-palette-dark, 'neutral-30'),
    'outline-focus': map.get($tertiary-palette, 'tertiary-70'),
    'error-base': $error-dark,
    'error': map.get($error-palette-dark, 'error-60'),
    'error-darker': map.get($error-palette-dark, 'error-50'),
    'error-container': map.get($error-palette-dark, 'error-35'),
    'error-container-low': map.get($error-palette-dark, 'error-25'),
    'on-error': map.get($error-palette-dark, 'error-10'),
    'on-error-container': map.get($error-palette-dark, 'error-90'),
    'success-base': $success-dark,
    'success': map.get($success-palette-dark, 'success-60'),
    'success-darker': map.get($success-palette-dark, 'success-50'),
    'success-container': map.get($success-palette-dark, 'success-35'),
    'success-container-low': map.get($success-palette-dark, 'success-25'),
    'on-success': map.get($success-palette-dark, 'success-10'),
    'on-success-container': map.get($success-palette-dark, 'success-90'),
    'warning-base': $warning-dark,
    'warning': map.get($warning-palette-dark, 'warning-60'),
    'warning-darker': map.get($warning-palette-dark, 'warning-50'),
    'warning-container': map.get($warning-palette-dark, 'warning-35'),
    'warning-container-low': map.get($warning-palette-dark, 'warning-25'),
    'on-warning': map.get($warning-palette-dark, 'warning-10'),
    'on-warning-container': map.get($warning-palette-dark, 'warning-90'),
    'info-base': $info-dark,
    'info': map.get($info-palette-dark, 'info-60'),
    'info-darker': map.get($info-palette-dark, 'info-60'),
    'info-container': map.get($info-palette-dark, 'info-35'),
    'info-container-low': map.get($info-palette-dark, 'info-25'),
    'on-info': map.get($info-palette-dark, 'info-10'),
    'on-info-container': map.get($info-palette-dark, 'info-90')
  )
);

$colors: $-color-scheme !default;
$colors-light: map.get($-color-scheme, 'light') !default;
$colors-dark: map.get($-color-scheme, 'dark') !default;
$colors-default: $-color-scheme;
$color-tokens: map.keys(map.get($-color-scheme, 'light'));
