@mixin size($size, $dimension, $pd, $loading-border-width: 1px) {
  $content: calc(
    $dimension - $pd * 2 - 2px
  ); // 2px - doubled button's default border-width

  :where(.#{$size}) {
    padding: $pd;

    :where(span[data-pui-component='btn-icon']),
    :where(span[data-pui-component='btn-load-spinner']) {
      font-size: $content;
    }

    :where(span[data-pui-component='btn-load-spinner']) > :where(span) {
      border-width: $loading-border-width;
    }
  }
}

@include size('xs', 2rem, $pd: 0.375rem);
@include size('sm', 2.25rem, $pd: 0.4375rem);
@include size('md', 2.5rem, $pd: 0.4375rem);
@include size('lg', 3rem, $pd: 0.5rem, $loading-border-width: 2px);
@include size('xl', 3.75rem, $pd: 0.75rem, $loading-border-width: 2px);
